<%- include ('../compartido/menu/menu-component.ejs')%>
<%- include ('../compartido/estilos-generales/estilos-generales-component.ejs')%>

<h1>Inicio</h1>


<button onclick="mensajeAlertar()">ALERTAR</button>
<%- include ('../compartido/funcionalidad-general/funcionalidad-general-component.ejs')%>